/*
 * Ingresa el CSS del proyecto en este archivo
 */

* {
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a { /*nav*/
  color: #373B47;
  text-decoration: none;
}

a:hover { /*nav encima*/
  color:#E95853;
  /*background-color: #E95853; aca sale un cuadro en vez del texto en color*/
}

.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}

.logo{
  float: right;
}
header{
  position: fixed;
  background: white;
  width: 100%;
  top: 0;
}
.menu{
  padding: 14px 70px;
  overflow: auto;

}
#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}
#home .container{
  color: white;
  padding: 70px;
}
.text-home{
  font-size: 53px;
}
.btn-home{
  background: #2Ecc71;
  color: #fff;
  padding: 11px 20px;
  border-radius: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 63px;
  display: inline-block;
  font-size: 14px;
}
#services{
  background-color: #F17C72;
  text-align: center;
  color: #fff;
  padding: 70px 7px;
}
.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
  cursor: pointer;
}
.box-work{
  display: inline-block;
  width: 30%;
  height: 20%;
  margin-top: 63px;
  cursor: pointer;
}
.text-services{
  font-size: 35px;
  letter-spacing: 2px;
}
footer{
  text-align: center;
  height: 70px;
  background-color: #373b47;
  color: white;
  padding-top: 7px;
}


/*lo que hizo la blanca.....
box-services:hover{ 
  background-color: rgba(255,255,255,0.2);
}  
esto es para el cuadrado blanco semi-transparente, no es necesario
*/


/*Modal*/


.box-work{ /*para que el cursor cambie a manito*/
  cursor: pointer;
}

.box-work:hover{ /*fondo semi-transparente*/
  background-color: rgba(255,255,255,0.2);
}

/*Modal*/
#box-work-modal{ /* fondo del modal cuadro donde va la imagen*/
  background-color: rgba(240,30,80,0.85);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
#box-work-modal .modal-body{   /*ajustes de la imagen dentro del modal*/
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 100px;

  /*position: fixed;*/
}

#box-work-modal .modal-body h5, /*color tipo ambas h5 h6*/
#box-work-modal .modal-body h6{
  color: whitesmoke;
}

#box-work-modal .modal-body h5{ /*tamaño letra h5*/
  font-size: 2em;
}
#box-work-modal .modal-body h6{/* tamaño letra h6*/
  font-size: 1em;
}

#box-work-modal .close{ /*tamaño close? y de puntero a mano*/
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#box-work-modal .close img{ /*tamaño x close*/
  width: 60px;
}

.hide{ /* ocultar??*/
  display: none;
}



#work{ /* formato work*/
  width: 70%;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
.imagencompu img{ /*imagen work compu*/
  text-align: center;
  width: 800px;
}